$BoderInput: rgb(216, 216, 216);
$BoderInputActive: rgba(144, 144, 144, 0.26);

.config {
  position: relative;
  display: block;
  font-size: 1em;
  padding-top: 3em;
  padding-bottom: 4em;

  /* form */
  .container-input {
    padding-bottom: 2em;
    position: relative;
    margin: auto;
    max-width: 20em;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    .input-pass {
      display: flex;
      justify-content: center;
      align-items: center;
      input#pass {
        width: 100%;
        height: 3em;
        padding: 0.4em 2em 0.4em 1em;
        border-radius: 5px;
        border: none;
        outline: none;
        box-shadow: 0 0 0 0.05em $BoderInput;
        transition: all linear 0.2s;
        font-size: 1em;
        font-family: "Poppins", sans-serif;
        &:focus {
          box-shadow: 0 0 0 0.2em $BoderInputActive;
        }
      }
    }
    /* modal copy  */
    .banner-copy {
      margin: auto;
      position: absolute;
      z-index: -1;
      animation: bannerCopy 0.5s linear;
      padding: 0.2em 0;
      text-align: center;
      font-weight: 600;
      color: rgb(37, 37, 37);
      background: rgb(186, 255, 117);
      border-radius: 0 0 0.5em 0.5em;
      top: 3em;
      display: block;
      width: 100%;
      span {
        font-size: 0.8em;
      }
      @keyframes bannerCopy {
        from {
          opacity: 0;
          top: 0em;
        }
        to {
          opacity: 1;
          top: 3em;
        }
      }
    }
    /* 
    border: 1px solid rebeccapurple; */

    @media screen and (min-width: 540px) {
      font-size: 20px;
      max-width: 22em;
    }
    @media screen and (min-width: 720px) {
      font-size: 30px;
      max-width: 25em;
    }
  }

  /* btns mobile */
  .container-options {
    max-width: 20em;
    margin: auto;
    position: relative;
    transition: 0.2s linear all;
    margin: 0.9em auto;
    .grid-option {
      display: flex;
      justify-content: space-between;
      align-items: center;
      /* p {
        font-size: px;
      } */
      label {
        position: relative;
        display: block;
        border: 0.5px solid rgba(0, 0, 0, 0.2);
        width: 3.1em;
        height: 1.57em;
        border-radius: 1em;
        cursor: pointer;
        user-select: none;
        transition: 0.2s linear all;
        background-color: #82df78;
        &::after {
          content: "";
          position: absolute;
          border: 1px solid rgba(144, 144, 144, 0.6);
          height: 1.24em;
          width: 1.24em;
          border-radius: 1em;
          top: 0;
          bottom: 0;
          margin: auto;
          transform: translateX(1.6em);
          transition: 0.2s linear all;
          background: white;
          box-shadow: -2px 0px 10px 0px rgba(0, 0, 0, 0.1);
        }
      }
      input[type="checkbox"] {
        display: none;
      }
      input:checked ~ label::after {
        transform: translateX(0.05em);
        box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.1);
      }
      input:checked ~ label {
        background: white;
      }
      .length-pass {
        width: 3.1em;
        height: 1.65em;
        border: none;
        outline: none;
        font-size: 1em;
        border-radius: 1em;
        text-align: center;
        font-family: "Poppins", sans-serif;
        border: 1px solid rgba(0, 0, 0, 0.1);
      }
    }

    @media screen and (min-width: 540px) {
      font-size: 20px;
      max-width: 22em;
    }
    @media screen and (min-width: 720px) {
      font-size: 25px;
      max-width: 30em;
    }
  }
  /* input range */
  .range-option {
    max-width: 19.5em;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .input-range {
      font-size: 1em;
      position: relative;
      display: inline-block;
      margin: auto;
      margin-top: 1em;
      width: 100%;
      height: 3px;
      -webkit-appearance: none;
      border-radius: 50px;
      outline: none;
      background: rgb(121, 121, 121);
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: #908dff;
        height: 1.2em;
        width: 1.2em;
        border-radius: 1em;
        cursor: pointer;
      }
    }
    @media screen and (min-width: 540px) {
      font-size: 20px;
      max-width: 22em;
    }
    @media screen and (min-width: 720px) {
      font-size: 25px;
      max-width: 30em;
    }
  }
  /* btn copy pass */
  .container-btn-copy {
    position: relative;
    top: 4em;
    height: 3em;
    display: flex;
    button {
      margin: auto;
      border: none;
      outline: none;
      padding: 0.8em 1.5em;
      border-radius: 5em;
      background: #908dff;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      color: white;
      font-size: 1em;
      cursor: pointer;
      &:focus {
        box-shadow: 0 0 0 0.2em rgba(78, 72, 255, 0.281);
      }
    }
  }
}
