.header {
  .banner-msg {
    position: relative;
    .msg {
      display: flex;
      justify-content: center;
      align-content: center;/* 
      animation: moveLang 2s linear .1s ; */
     /*  , MoveX 1s infinite; */
      position: relative;
      background: black;
      border-radius: 0.3em;
      color: white;
      padding: 0.3em 0.5em;
      top: -1.8em;
      left: 7em;
      z-index: 1;
      font-size: 0.8em;
      opacity: 0;
      &::after {
        bottom: 1em;
        transform: rotate(45deg);
        left: -0.2em;
        position: absolute;
        content: "";
        height: 0.5em;
        color: white;
        width: 0.5em;
        background: black;
      }
    }
    @keyframes moveLang {
      0% {
        transform: rotate(5deg);
      }
      50% {
        transform: rotate(-5deg);
        opacity: 1;
      }
      100% {
        transform: rotate(5deg);
        opacity: 0;
      }
    }
  
  }
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 1.2em;
  width: 100%;
  input {
    display: none;
  }

  label {
    display: block;
    position: relative;
    width: 4em;
    height: 2em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: white;
    border-radius: 3em;
    transition: all 0.2s linear;
    background: url("../img/day.png") center center no-repeat;
    background-size: 4em;
    cursor: pointer;
    &::after {
      position: absolute;
      content: "";
      background: url("../img/sun.png") center center no-repeat;
      background-size: 1.8em;
      border: 1px solid rgba(0, 0, 0, 0.1);
      width: 1.6em;
      height: 1.6em;
      top: 0;
      border-radius: 2em;
      bottom: 0;
      margin: auto;
      transform: translateX(1px);
      transition: all 0.2s linear;
    }
  }
  input:checked ~ label::after {
    transform: translateX(2.1em);
    transition: all 0.2s linear;
    background: url("../img/mon.png") center center no-repeat, #d1d8e0;
    background-size: 1.8em;
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
  input:checked ~ label {
    background: url("../img/night.png") center center no-repeat, #363c4a;
    background-size: 4em;
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
}
